{{define "footer" -}}

    <aside>
        <p>We <b>strongly recommend</b> not printing information from this application as it is constantly being updated and will be out of date very quickly.</p>
        <hr />
        <p>Please <b>DO NOT</b> take photos of the screen as this will break the terms of your NHS employment.</p>
    </aside>

    <footer>
        <hr />
        <p>&copy; 2025 - Newcastle Hospitals NHS Foundation Trust<br />
        $version : <a href="https://github.com/nuth-bespoke/audio-vault/commit/{{.Application.GitCommitHash}}">{{.Application.GitCommitHashShort}}</a></p>
    </footer>


    </div>


<script type="text/javascript">

    if (document.title.includes('Dashboard')) {
        /*
            only include code to check server side events
            if the web page title includes the word 'Dashboard'
        */
        const debugging = false;
        const eventSrc = new EventSource("server-side-events/");

        const cpu = document.getElementById("cpu");
        const dictations = document.getElementById("dictations");
        const paused_chkbox = document.getElementById('paused');
        const segments = document.getElementById("segments");
        const orphans =  document.getElementById("orphans");

        eventSrc.addEventListener("cpu", (event) => {
            cpu.textContent = event.data;
        });

        eventSrc.addEventListener("segments", (event) => {
            if (paused_chkbox === null) {
                if(debugging) {console.log("paused_chkbox element does not exist");}
            } else if (paused_chkbox.checked) {
                if(debugging) {console.log("not updating segments table as paused");}
            } else {
                segments.innerHTML = event.data;
                if(debugging) {console.log("updated segments table");}
            }
        });

        eventSrc.addEventListener("dictations", (event) => {
            if (paused_chkbox === null) {
                if(debugging) {console.log("paused_chkbox element does not exist");}
            } else if (paused_chkbox.checked) {
                if(debugging) {console.log("not updating segments table as paused");}
            } else {
                dictations.innerHTML = event.data;
                if(debugging) {console.log("updated dictations table");}
            }
        });

        eventSrc.addEventListener("orphans", (event) => {
            if (paused_chkbox === null) {
                if(debugging) {console.log("paused_chkbox element does not exist");}
            } else if (paused_chkbox.checked) {
                if(debugging) {console.log("not updating segments table as paused");}
            } else {
                orphans.innerHTML = event.data;
                if(debugging) {console.log("updated orphans table");}
            }
        });

        /* 
            toggle on/off all audio controls based on the status
            of the paused checked box. Can only play audio if the
            refresh is paused as a refresh will update the DOM
        */
        if (paused_chkbox !== null) {
            paused_chkbox.addEventListener("change", function() {
                if (paused_chkbox.checked) {
                    var audioElements = document.getElementsByTagName("audio");
                    for (var i = 0; i < audioElements.length; i++) {
                        audioElements[i].setAttribute("controls", "controls");
                    }
                } else {
                    var audioElements = document.getElementsByTagName("audio");
                    for (var i = 0; i < audioElements.length; i++) {
                        audioElements[i].removeAttribute("controls");
                    }
                }
            });
        }

        eventSrc.onerror = (err) => {
            if(debugging) {console.log("sse error", err);}
        };
    } else {
        const serverUsage = document.getElementById("server-usage");
        serverUsage.style.display = 'none';
    }
</script>
</body>
</html>
{{end -}}