{{define "footer" -}}

    <aside>
        <p>We <b>strongly recommend</b> not printing information from this application as it is constantly being updated and will be out of date very quickly.</p>
        <hr />
        <p>Please <b>DO NOT</b> take photos of the screen as this will break the terms of your NHS employment.</p>
    </aside>

    <footer>
        <hr />
        <p>&copy; 2025 - Newcastle Hospitals NHS Foundation Trust<br />
        $version : <a href="https://github.com/nuth-bespoke/audio-vault/commit/{{.Application.GitCommitHash}}">{{.Application.GitCommitHashShort}}</a></p>
    </footer>


    </div>


<script type="text/javascript">
    const eventSrc = new EventSource("server-side-events/");
    const cpu = document.getElementById("cpu");
    const segments = document.getElementById("segments");
    const paused_chkbox = document.getElementById('paused');

    eventSrc.addEventListener("cpu", (event) => {
        cpu.textContent = event.data;
    });

    eventSrc.addEventListener("segments", (event) => {
        if (paused_chkbox === null) {
            console.log("paused_chkbox element does not exist");
        } else if (paused_chkbox.checked) {
            console.log("not updating segments table as paused")
        } else {
            segments.innerHTML = event.data;
            console.log("updated segments table")
        }
    });

    eventSrc.onerror = (err) => {
        console.log("sse error", err);
    };
</script>
</body>
</html>
{{end -}}