{{define "header" -}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="{{.Application.BaseURL}}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="robots" content="noindex,nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .WebPageTitle }} &mdash; Audit Vault</title>
    <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="../static-assets/css/bootstrap.5.3.3.min.css">
    <link rel="stylesheet" href="../static-assets/css/audio-vault.css?{{.Application.GitCommitHash}}">
</head>

<body >

    <!-- only display the testing banner if run from a testing server -->
    {{if .Application.Testing -}}
        <div class="test-tab">Testing System</div>
    {{end -}}

    <div class="container-md">
        <div id="liveAlertPlaceholder" style="height: 40px;"></div>
    </div>

    <div class="container-md">
    <header>
        <div>
            <a href="dashboard/"><img src="static-assets/img/logo.png" width="96" height="96" alt="Audio Vault"></a>
        </div>
        <div>
            <h2>Audio Vault</h2>
            <p id="server-usage">Server usage : <span id="cpu">??.??</span>%</p>
        </div>
    </header>
    <a class="btn btn-primary" href="{{.Application.BaseURL}}dashboard/" role="button">Dashboard</a>
    <a class="btn btn-primary" href="dictation/" role="button">Dictation Logs</a>
    <a class="btn btn-primary" href="user/" role="button">User Logs</a>

{{end -}}