{{define "header" -}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="robots" content="noindex,nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .WebPageTitle }} &mdash; Audit Vault</title>
    <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="../static-assets/css/audio-vault.css?2025-02-20-14-56">
    <base href="{{.Application.BaseURL}}" />
</head>

<body >

    <!-- only display the testing banner if run from a testing server -->
    {{if .Application.Testing -}}
        <div class="test-tab">Testing System</div>
    {{end -}}

    <header>
        <div>
            <img src="static-assets/img/logo.png" width="96" height="96" alt="Audio Vault">
        </div>
        <div>
            <p>Server usage : <span id="cpu">??.??</span>%</p>
        </div>
    </header>
    <hr />

{{end -}}