{{define "segments-listing" -}}
<p>&nbsp;</p>

<table class="table table-sm table-striped table-hover">
    <tr>
        <th width="90">DocID</th>
        <th width="110">User</th>
        <th width="80">PC</th>
        <th width="280">Segment</th>
        <th width="80">Size</th>
        <th width="70">Queue</th>
        <th>Audio Data</th>
        <th width="80">Open</th>
    </tr>

    {{range .Segments -}}
    <tr>
        <td>{{.DocumentID}}</td>
        <td>{{.CreatedBy}}</td>
        <td>{{.MachineName}}</td>
        <td>{{.SegmentFileName}}</td>
        <td>{{.SegmentFileSize}}</td>
        <td>{{.ProcessingProgress}}</td>
        <td>
            <smaller>
                Bit Rate: {{.AudioBitRate}}<br>
                Sampling: {{.AudioSampleRate}}<br>
                Precision: {{.AudioPrecision}}<br>
                Duration: {{.AudioDuration}}<br>
            </smaller>
        </td>
        <td></td>
    </tr>

    {{end -}}
</table>

{{end -}}